<div class="container">
  <h1>Detalles del proceso</h1>

  <!-- Botones. -->
  <div class="row">
    <div class="">
      <button
        class="btn btn-outline-primary"
        [routerLink]="['home']"
        style="margin-right: 16px;"
      >
        Inicio
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      Proceso
    </div>
    <div class="col-9">
      Nombre del proceso
    </div>
    <div class="col-1">
      ID
    </div>
    <div class="col-1">
      12
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      Descripción
    </div>
    <div class="col-11"></div>
  </div>
  <div class="row">
    <div class="col-1">
      Propietario
    </div>
    <div class="col-11"></div>
  </div>
  <div class="row">
    <div class="col-1">
      Tiempo estandar
    </div>
    <div class="col-1">
      18
    </div>
    <div class="col-1">
      Mejor tiempo
    </div>
    <div class="col-1">
      12
    </div>
    <div class="col-1">
      Peor tiempo
    </div>
    <div class="col-1">
      20
    </div>
    <!-- Para copiar linea o bloque abajo Mayusculas+alt*flechaabajo -->
    <div class="col-1">
      Peor tiempo
    </div>
    <div class="col-1">
      20
    </div>
    <div class="col-1">
      Peor tiempo
    </div>
    <div class="col-1">
      20
    </div>
    <div class="col-1">
      Peor tiempo
    </div>
    <div class="col-1">
      20
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      Propietario
    </div>
    <div class="col-11"></div>
  </div>
</div>

<!-- Botones. -->
<div class="container">
  <div class="row">
    <div class="">
      <button class="btn btn-outline-danger" style="margin-right: 16px;">
        Procedimiento
      </button>
      <button class="btn btn-outline-primary" style="margin-right: 16px;">
        Diario
      </button>
      <button class="btn btn-outline-secondary" style="margin-right: 16px;">
        Sugerencias
      </button>
      <button class="btn btn-outline-success" style="margin-right: 16px;">
        Obstaculos
      </button>
      <button class="btn btn-outline-warning" style="margin-right: 16px;">
        Acciones en curso
      </button>
    </div>
  </div>
</div>
