<div class="container">

<h1>Detalles del proceso</h1>

<!-- Botones. -->
<div class="row">
  <div class="">
    <button class="btn btn-outline-primary" style="margin-right: 16px;">
      Inicio
      <a routerLink="/home">
        <img class="img" src="assets/img/263-network-1.svg" />
      </a>
    </button>
  </div>
</div>


  <div class="row">
    <div class="col-1">
     Proceso
    </div>
    <div class="col-9">
      Nombre del proceso
    </div>
    <div class="col-1">
      ID
    </div>
    <div class="col-1">
     12
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      Descripción
    </div>
    <div class="col-11">
  
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      Dato1
    </div>
    <div class="col-11">
  
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      Dato2
    </div>
    <div class="col-11">
  
    </div>
  </div>
</div>