<!-- Tabla de datos. -->
<div class="row col-12">
    <table class="table table-striped">
      <thead>
        <th>Proceso</th>
        <th>Descripción</th>
        <th>Dato</th>
        <th>Estandar</th>
      </thead>
      <tbody>
        <!-- TODO: Aviso: Identifier 'procesoService' refers to a private member of the component -->
        <tr *ngFor="let proceso of procesoService.procesos">
          <td>{{ proceso.name }}</td>
          <td>{{ proceso.position }}</td>
          <td>{{ proceso.office }}</td>
          <td>{{ proceso.salary }}</td>
          <td>
            <a (click)="editProceso(proceso)">
              <i class="material-icons">edit</i>
            </a>
            <a (click)="deleteProceso(proceso._id, procesoForm)">
              <i class="material-icons">delete</i>
            </a>
            <a routerLink="/detalles">
              <i class="material-icons">description</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
