
<!-- Tabla con todos los procesos -->
<div class="container">
  <div class="row col-12">
    <table class="table table-striped">
      <thead>
        <th>Proceso</th>
        <th>Descripción</th>
        <th>Dato</th>
        <th>Estandar</th>
        <!-- <th>Operations</th> -->
      </thead>
      <tbody>
        <tr *ngFor="let proceso of procesoService.procesos">
          <td>{{ proceso.name }}</td>
          <td>{{ proceso.position }}</td>
          <td>{{ proceso.office }}</td>
          <td>{{ proceso.salary }}</td>
          <td>
            <a (click)="editProceso(proceso)">
              <i class="material-icons">edit</i>
            </a>
            <a (click)="deleteProceso(proceso._id, procesoForm)">
              <i class="material-icons">delete</i>
            </a>
            <!-- <a (click)="viewProceso(proceso._id, procesoForm)"> -->
              <i class="material-icons">description</i>
              <a routerLink="/detalles">
                <img class="img" src="assets/img/263-network-1.svg" />
              </a>
            <!-- </a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Añadir. -->
  <div class="container">
      <div class="row justify-content-end">
          <div class="col-2">
            <button
            class="btn btn-outline-primary"
            (click)="resetForm(procesoForm)"
          >Añadir
          <a routerLink="/addedit">
            <img class="img" src="assets/img/263-network-1.svg" />
          </a>
          </button>
        </div>
      </div>
    </div>

  <!-- Card para introducir datos. -->
  <div class="row card col-6">
  
    <div class="card-body">
      <form #procesoForm="ngForm" >
          <!-- <form #procesoForm="ngForm" (ngSubmit)="addProceso(procesoForm)"> -->

        <input
          type="hidden"
          name="_id"
          #_id="ngModel"
          [(ngModel)]="procesoService.selectedProceso._id"
        />
          <div>
        <div class="row d-flex flex-column ">
          <div class="">
            <input
              type="text"
              name="name"
              #name="ngModel"
              [(ngModel)]="procesoService.selectedProceso.name"
              placeholder="Introduce el nombre del proceso."
            />
          </div>
          <div class="row d-flex flex-column">
            <input
              type="text"
              name="position"
              #name="ngModel"
              [(ngModel)]="procesoService.selectedProceso.position"
              placeholder="Introduce descripción."
            />
          </div>
          <div class="row d-flex flex-column">
            <input
              type="text"
              name="office"
              #name="ngModel"
              [(ngModel)]="procesoService.selectedProceso.office"
              placeholder="Introduce dato."
            />
          </div>
          <div class="row d-flex flex-column">
            <input
              type="number"
              name="salary"
              #name="ngModel"
              [(ngModel)]="procesoService.selectedProceso.salary"
              placeholder="Introduce tiempo estandar."
            />
          </div>
        </div>
</div>

        <!-- Botones. -->
        <div class="row">
          <div class="">
            <button
              class="btn btn-outline-primary"
              style="margin-right: 16px;"
              (click)="resetForm(procesoForm)"
            >Limpiar
            </button>
            <button 
            class="btn btn-outline-danger"
            (click) = "addProceso(procesoForm)"
            >Grabar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
