<!-- Tabla con todos los procesos -->
<div class="container">
<!-- Botones. -->
<div class="container">
    <div class="row">
      <div class="">
        <button class="btn btn-outline-danger" [routerLink]="['/linea1']" style="margin-right: 16px;">
          Linea 1
        </button>
        <button class="btn btn-outline-primary" style="margin-right: 16px;">
          Linea 2
        </button>
        <button class="btn btn-outline-secondary" style="margin-right: 16px;">
          Linea 7
        </button>
        <button class="btn btn-outline-success" style="margin-right: 16px;">
          IMAR
        </button>
        <button class="btn btn-outline-warning" style="margin-right: 16px;">
          ULMA
        </button>
        <button class="btn btn-outline-secondary" style="margin-right: 16px;">
            Obrador
          </button>
          <button class="btn btn-outline-success" style="margin-right: 16px;">
            Bodega
          </button>
          <button class="btn btn-outline-warning" style="margin-right: 16px;">
            Almacen
          </button>
      </div>
    </div>
  </div>

  <div class="row col-12">
    <table class="table table-striped">
      <thead>
        <th>Proceso</th>
        <th>Descripción</th>
        <th>Datos</th>
        <th>Estandar</th>
        <!-- <th>Operations</th> -->
      </thead>
      <tbody>
        <tr *ngFor="let proceso of procesoService.procesos">
          <td>{{ proceso.name }}</td>
          <td>{{ proceso.position }}</td>
          <td>{{ proceso.office }}</td>
          <td>{{ proceso.salary }}</td>
          <td>
            <a (click)="editProceso(proceso)">
              <i class="material-icons">edit</i>
            </a>
            <a (click)="deleteProceso(proceso._id, procesoForm)">
              <i class="material-icons">delete</i>
            </a>
            <a routerLink="/detalles">
              <i class="material-icons">description</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Añadir. -->
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-2">
          <button class="btn btn-outline-primary"  [routerLink]="['/addedit']" style="margin-right: 16px;">
              Añadir
            </button>
      </div>
    </div>
  </div>

 
  
  
</div>
